---
const { page } = Astro.props;
---

<div>
  <p class="control">
    {page.url.prev && <a href={page.url.prev}>
      More Products
    </a>}
  </p>
  <p class="control">
    {page.url.next && <a href={page.url.next}>
      Previous
    </a>}
  </p>
</div>